<!DOCTYPE html>
<html>
    <head>
        <title>
            Error
        </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        </link>
    </head>
    <body>
        <%= erb :'header.html' %>
        <div class="container">
            <div class="well text-center" id="twall">
                <% if @error[:type] == 'trainer' %>
                <p>
                    Тренажер аварийно завершился (<%= @error[:code] %>)!<br>
                    Команда, которая создает проблему:<br>
                    <textarea cols="100" readonly="" rows="3"><%= @error[:cmd] %></textarea>
                    <br>
                        Текущий вывод stdout (то, откуда берется ответ):
                    </br>
                </p>
                <textarea cols="60" readonly="" rows="10"><%= @error[:stdout] %></textarea>
                <br>
                    <p>
                        Текущий вывод stderr (то, куда программа выдает ошибки):
                    </p>
                    <textarea cols="60" readonly="" rows="10"><%= @error[:stderr] %>
                    </textarea>
                    <br>
                        <%= if @error.empty? then  "(Нет вывода)" end %>
                    </br>
                </br>
                <% elsif @error[:type] == 'session' %>
                <p>Задача не найдена в cookies. Обычно она возникает после перезапуска сервера, перейдите <a href=/>на страницу генерации</a></p>
                <% elsif @error[:type] == 'files' %>
                <p>Один из необходимых для работы тренажера файлов не найден. Файл - <%= @error[:file] %>.<br>Возможно, вы назвали его по-другому или расположили в другом месте.</p>
                <% elsif @error[:type] == 'json_error' %>
                <p>Ошибка в формате json при запросе задачи. Помните, что json должен иметь ключи 'question' и 'answer'.<br><textarea cols="60" readonly="" rows="10"><%= @error[:json] %></textarea>
                <% elsif @error[:type] == 'config_error' %>
                <p>Ошибка в файле config.json. Помните, что json должен иметь ключи 'command' и 'config_template'.<br> Текущее содержание файла:<br><textarea cols="60" readonly="" rows="20"><%= @error[:json] %></textarea>
                <% end %>
            </div>
            <br>
            </br>
        </div>
        <script src="/vendor/jquery.min.js">
        </script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js">
        </script>
    </body>
</html>
